{
    auto_https off
    admin off
}

:3280 {
    @static {
		file
		path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.webp
	}

    @not_sse {
        not path /wishlists/*/events
        not path /lists/*/events
    }

    # Handles User Images
	handle_path /api/assets/* {
		header @static Cache-Control max-age=31536000
		root * /usr/src/app/uploads/
		file_server
	}

    # gzip makes sse not work so use it for everything but the events api
    encode @not_sse {
        gzip
    }

    reverse_proxy :3000 {
        flush_interval -1
    }
}


