services:
    app:
        container_name: wishlist-app
        image: wishlist-local
        build: .
        ports:
            - 3280:3280
        volumes:
            - ./uploads:/usr/src/app/uploads
            - ./data:/usr/src/app/data
        env_file:
            - .env
