@layer base {
    @font-face {
        font-family: "Lato";
        src:
            url("/fonts/Lato-Regular.woff2") format("woff2"),
            url("/fonts/Lato-Regular.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Lato";
        src:
            url("/fonts/Lato-Light.woff2") format("woff2"),
            url("/fonts/Lato-Light.woff") format("woff");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Lato";
        src:
            url("/fonts/Lato-LightItalic.woff2") format("woff2"),
            url("/fonts/Lato-LightItalic.woff") format("woff");
        font-weight: 300;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Lato Hairline";
        src:
            url("/fonts/Lato-Hairline.woff2") format("woff2"),
            url("/fonts/Lato-Hairline.woff") format("woff");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Lato";
        src:
            url("/fonts/Lato-Italic.woff2") format("woff2"),
            url("/fonts/Lato-Italic.woff") format("woff");
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Lato";
        src:
            url("/fonts/Lato-Bold.woff2") format("woff2"),
            url("/fonts/Lato-Bold.woff") format("woff");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Lato Hairline";
        src:
            url("/fonts/Lato-HairlineItalic.woff2") format("woff2"),
            url("/fonts/Lato-HairlineItalic.woff") format("woff");
        font-weight: 300;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Lato";
        src:
            url("/fonts/Lato-Black.woff2") format("woff2"),
            url("/fonts/Lato-Black.woff") format("woff");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Lato";
        src:
            url("/fonts/Lato-BlackItalic.woff2") format("woff2"),
            url("/fonts/Lato-BlackItalic.woff") format("woff");
        font-weight: 900;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Lato";
        src:
            url("/fonts/Lato-BoldItalic.woff2") format("woff2"),
            url("/fonts/Lato-BoldItalic.woff") format("woff");
        font-weight: bold;
        font-style: italic;
        font-display: swap;
    }
}
