@layer utilities {
    .table {
        & thead {
            @apply preset-filled-surface-200-800;

            & th {
                @apply p-4 font-bold;
            }
        }

        & tbody {
            @apply preset-filled-surface-100-900;

            & td {
                @apply p-4;
            }
        }
    }

    .table-hover {
        & tbody > tr {
            @variant hover {
                @apply text-primary-950-50 bg-primary-500/10 cursor-pointer;
            }

            @variant active {
                @apply text-primary-950-50 bg-primary-500/10;
            }
        }
    }
}
