[data-scope="tabs"][data-part="trigger"] {
    /* Reset skeleton style */
    &:hover {
        background-color: transparent;
        color: inherit;
    }

    /* Reapply with hover variant */
    @variant hover {
        @apply preset-tonal-primary;
    }
}
