@import "tailwindcss";
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-svelte";
@import "./wishlist.css";

/* Add your theme import for your theme: "theme" here */
@plugin "@tailwindcss/forms";

/* The following are classes defined in i18n files and are used */
@source inline("text-secondary-700-200-token");
@source inline("font-bold");

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@layer base {
    @font-face {
        font-family: "Lato";
        src:
            url("/fonts/Lato-Regular.woff2") format("woff2"),
            url("/fonts/Lato-Regular.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Lato";
        src:
            url("/fonts/Lato-Light.woff2") format("woff2"),
            url("/fonts/Lato-Light.woff") format("woff");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Lato";
        src:
            url("/fonts/Lato-LightItalic.woff2") format("woff2"),
            url("/fonts/Lato-LightItalic.woff") format("woff");
        font-weight: 300;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Lato Hairline";
        src:
            url("/fonts/Lato-Hairline.woff2") format("woff2"),
            url("/fonts/Lato-Hairline.woff") format("woff");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Lato";
        src:
            url("/fonts/Lato-Italic.woff2") format("woff2"),
            url("/fonts/Lato-Italic.woff") format("woff");
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Lato";
        src:
            url("/fonts/Lato-Bold.woff2") format("woff2"),
            url("/fonts/Lato-Bold.woff") format("woff");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Lato Hairline";
        src:
            url("/fonts/Lato-HairlineItalic.woff2") format("woff2"),
            url("/fonts/Lato-HairlineItalic.woff") format("woff");
        font-weight: 300;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Lato";
        src:
            url("/fonts/Lato-Black.woff2") format("woff2"),
            url("/fonts/Lato-Black.woff") format("woff");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Lato";
        src:
            url("/fonts/Lato-BlackItalic.woff2") format("woff2"),
            url("/fonts/Lato-BlackItalic.woff") format("woff");
        font-weight: 900;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Lato";
        src:
            url("/fonts/Lato-BoldItalic.woff2") format("woff2"),
            url("/fonts/Lato-BoldItalic.woff") format("woff");
        font-weight: bold;
        font-style: italic;
        font-display: swap;
    }
}
@layer utilities {
}

html,
body {
    @apply h-full;
}

a:not(.unstyled):is(:not(.prose *)):not(.btn):not(.btn-icon):not(.app-bar a):not(.logo-item):not(a.card):not(
        .list-nav a
    ) {
    @apply text-primary-700 decoration-primary-500/20 hover:decoration-primary-500 dark:text-primary-500 underline decoration-dotted underline-offset-4;
}

label:not(.checkbox-label) {
    @apply space-y-1;
}

input[type="checkbox"] {
    @apply disabled:checked:bg-surface-500 disabled:cursor-not-allowed;
}

.checkbox-label {
    @apply flex flex-row items-center gap-x-2;
}

.btn,
.chip,
.list-nav a,
.list-nav .list-option {
    @apply rtl:space-x-reverse;
}

.subtext {
    @apply text-surface-900/70 dark:text-surface-50/50 text-sm;
}

/*! purgecss start ignore */
.ptr--icon,
.ptr--text {
    @apply text-primary-900 dark:text-primary-50;
}
/*! purgecss end ignore */
