/* Write your global styles here, in PostCSS syntax */
html,
body {
	@apply h-full overflow-hidden;
}

.ptr--icon,
.ptr--text {
	@apply text-primary-900 dark:text-primary-50;
}

a:not(.unstyled):is(:not(.prose *)):not(.btn):not(.btn-icon):not(.app-bar a):not(.logo-item):not(
		a.card
	):not(.list-nav a) {
	@apply text-primary-700 dark:text-primary-500 underline underline-offset-4 decoration-dotted decoration-primary-500/20 hover:decoration-primary-500;
}

label {
	@apply input-label;
}
