/* Write your global styles here, in PostCSS syntax */
html,
body {
	@apply h-full overflow-hidden;
}

a:not(.unstyled):is(:not(.prose *)):not(.btn):not(.btn-icon):not(.app-bar a):not(.logo-item):not(
		a.card
	):not(.list-nav a) {
	@apply text-primary-700 underline decoration-primary-500/20 decoration-dotted underline-offset-4 hover:decoration-primary-500 dark:text-primary-500;
}

label:not(.unstyled) {
	@apply space-y-2;
}
