[data-theme="wishlisttwo"] {
    --text-scaling: 1.067;
    --base-font-color: var(--color-surface-950);
    --base-font-color-dark: var(--color-surface-50);
    --base-font-family: system-ui, sans-serif;
    --base-font-size: inherit;
    --base-line-height: inherit;
    --base-font-weight: normal;
    --base-font-style: normal;
    --base-letter-spacing: 0em;
    --heading-font-color: inherit;
    --heading-font-color-dark: inherit;
    --heading-font-family: inherit;
    --heading-font-weight: bold;
    --heading-font-style: normal;
    --heading-letter-spacing: inherit;
    --anchor-font-color: var(--color-primary-500);
    --anchor-font-color-dark: var(--color-primary-500);
    --anchor-font-family: inherit;
    --anchor-font-size: inherit;
    --anchor-line-height: inherit;
    --anchor-font-weight: inherit;
    --anchor-font-style: inherit;
    --anchor-letter-spacing: inherit;
    --anchor-text-decoration: none;
    --anchor-text-decoration-hover: underline;
    --anchor-text-decoration-active: none;
    --anchor-text-decoration-focus: none;
    --spacing: 0.25rem;
    --radius-base: 0.375rem;
    --radius-container: 0.75rem;
    --default-border-width: 1px;
    --default-divide-width: 1px;
    --default-ring-width: 1px;
    --body-background-color: var(--color-surface-50);
    --body-background-color-dark: var(--color-surface-950);
    --color-primary-50: oklch(95.9% 0.02 317.22deg);
    --color-primary-100: oklch(87.59% 0.06 319.12deg);
    --color-primary-200: oklch(79.5% 0.1 319.49deg);
    --color-primary-300: oklch(71.46% 0.14 320.61deg);
    --color-primary-400: oklch(63.86% 0.17 320.48deg);
    --color-primary-500: oklch(56.75% 0.21 320.25deg);
    --color-primary-600: oklch(49.71% 0.18 320.12deg);
    --color-primary-700: oklch(42.67% 0.15 320.39deg);
    --color-primary-800: oklch(35.11% 0.13 319.66deg);
    --color-primary-900: oklch(27.34% 0.1 319.96deg);
    --color-primary-950: oklch(18.56% 0.07 319.46deg);
    --color-primary-contrast-dark: var(--color-primary-950);
    --color-primary-contrast-light: var(--color-primary-50);
    --color-primary-contrast-50: var(--color-primary-contrast-dark);
    --color-primary-contrast-100: var(--color-primary-contrast-dark);
    --color-primary-contrast-200: var(--color-primary-contrast-dark);
    --color-primary-contrast-300: var(--color-primary-contrast-dark);
    --color-primary-contrast-400: var(--color-primary-contrast-dark);
    --color-primary-contrast-500: var(--color-primary-contrast-light);
    --color-primary-contrast-600: var(--color-primary-contrast-light);
    --color-primary-contrast-700: var(--color-primary-contrast-light);
    --color-primary-contrast-800: var(--color-primary-contrast-light);
    --color-primary-contrast-900: var(--color-primary-contrast-light);
    --color-primary-contrast-950: var(--color-primary-contrast-light);
    --color-secondary-50: oklch(95.36% 0.03 222.01deg);
    --color-secondary-100: oklch(87.82% 0.05 215.39deg);
    --color-secondary-200: oklch(80.33% 0.07 212.61deg);
    --color-secondary-300: oklch(72.98% 0.09 212.33deg);
    --color-secondary-400: oklch(65.8% 0.1 212.19deg);
    --color-secondary-500: oklch(58.96% 0.1 213.61deg);
    --color-secondary-600: oklch(51.52% 0.09 213.99deg);
    --color-secondary-700: oklch(43.75% 0.07 213.26deg);
    --color-secondary-800: oklch(35.68% 0.06 213.8deg);
    --color-secondary-900: oklch(27.03% 0.04 212.16deg);
    --color-secondary-950: oklch(17.62% 0.03 211.63deg);
    --color-secondary-contrast-dark: var(--color-secondary-50);
    --color-secondary-contrast-light: var(--color-secondary-50);
    --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-500: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-600: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-700: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-800: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-900: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-950: var(--color-secondary-contrast-dark);
    --color-tertiary-50: oklch(60.56% 0.08 284.48deg);
    --color-tertiary-100: oklch(53.39% 0.08 281.59deg);
    --color-tertiary-200: oklch(45.78% 0.08 279.19deg);
    --color-tertiary-300: oklch(38.19% 0.08 275.56deg);
    --color-tertiary-400: oklch(30.01% 0.08 272.15deg);
    --color-tertiary-500: oklch(21.79% 0.08 267.08deg);
    --color-tertiary-600: oklch(19.37% 0.07 266.93deg);
    --color-tertiary-700: oklch(16.88% 0.05 265.91deg);
    --color-tertiary-800: oklch(14.18% 0.04 268.25deg);
    --color-tertiary-900: oklch(10.97% 0.03 266.29deg);
    --color-tertiary-950: oklch(0% 0 none);
    --color-tertiary-contrast-dark: var(--color-primary-50);
    --color-tertiary-contrast-light: var(--color-primary-50);
    --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-200: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-300: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
    --color-success-50: oklch(94.7% 0.1 143.9deg);
    --color-success-100: oklch(87.03% 0.12 142.51deg);
    --color-success-200: oklch(79.34% 0.15 142.11deg);
    --color-success-300: oklch(71.5% 0.17 141.44deg);
    --color-success-400: oklch(64.05% 0.18 141.42deg);
    --color-success-500: oklch(56.93% 0.19 141.68deg);
    --color-success-600: oklch(49.63% 0.16 141.61deg);
    --color-success-700: oklch(42.36% 0.14 141.51deg);
    --color-success-800: oklch(34.43% 0.11 141.57deg);
    --color-success-900: oklch(26.35% 0.08 141.29deg);
    --color-success-950: oklch(17.05% 0.06 141.29deg);
    --color-success-contrast-dark: var(--color-success-950);
    --color-success-contrast-light: var(--color-success-50);
    --color-success-contrast-50: var(--color-success-contrast-dark);
    --color-success-contrast-100: var(--color-success-contrast-dark);
    --color-success-contrast-200: var(--color-success-contrast-dark);
    --color-success-contrast-300: var(--color-success-contrast-dark);
    --color-success-contrast-400: var(--color-success-contrast-dark);
    --color-success-contrast-500: var(--color-success-contrast-dark);
    --color-success-contrast-600: var(--color-success-contrast-light);
    --color-success-contrast-700: var(--color-success-contrast-light);
    --color-success-contrast-800: var(--color-success-contrast-light);
    --color-success-contrast-900: var(--color-success-contrast-light);
    --color-success-contrast-950: var(--color-success-contrast-light);
    --color-warning-50: oklch(94.9% 0.05 83.97deg);
    --color-warning-100: oklch(92.39% 0.08 89.58deg);
    --color-warning-200: oklch(89.7% 0.11 91.73deg);
    --color-warning-300: oklch(87.42% 0.14 92.73deg);
    --color-warning-400: oklch(84.96% 0.15 92.61deg);
    --color-warning-500: oklch(82.92% 0.16 91.59deg);
    --color-warning-600: oklch(73.55% 0.15 91.48deg);
    --color-warning-700: oklch(64.19% 0.13 91.46deg);
    --color-warning-800: oklch(54.14% 0.11 91.34deg);
    --color-warning-900: oklch(43.95% 0.09 91.27deg);
    --color-warning-950: oklch(32.74% 0.06 91.13deg);
    --color-warning-contrast-dark: var(--color-warning-950);
    --color-warning-contrast-light: var(--color-warning-50);
    --color-warning-contrast-50: var(--color-warning-contrast-dark);
    --color-warning-contrast-100: var(--color-warning-contrast-dark);
    --color-warning-contrast-200: var(--color-warning-contrast-dark);
    --color-warning-contrast-300: var(--color-warning-contrast-dark);
    --color-warning-contrast-400: var(--color-warning-contrast-dark);
    --color-warning-contrast-500: var(--color-warning-contrast-dark);
    --color-warning-contrast-600: var(--color-warning-contrast-dark);
    --color-warning-contrast-700: var(--color-warning-contrast-dark);
    --color-warning-contrast-800: var(--color-warning-contrast-light);
    --color-warning-contrast-900: var(--color-warning-contrast-light);
    --color-warning-contrast-950: var(--color-warning-contrast-light);
    --color-error-50: oklch(95.88% 0.02 17.56deg);
    --color-error-100: oklch(87.54% 0.06 18.38deg);
    --color-error-200: oklch(79.66% 0.11 19.67deg);
    --color-error-300: oklch(72.24% 0.15 21.59deg);
    --color-error-400: oklch(66.36% 0.2 24.2deg);
    --color-error-500: oklch(62.23% 0.23 27.11deg);
    --color-error-600: oklch(54.35% 0.2 27.08deg);
    --color-error-700: oklch(46.17% 0.17 27.03deg);
    --color-error-800: oklch(37.7% 0.14 26.82deg);
    --color-error-900: oklch(28.64% 0.1 26.61deg);
    --color-error-950: oklch(18.37% 0.07 27.38deg);
    --color-error-contrast-dark: var(--color-error-950);
    --color-error-contrast-light: var(--color-error-50);
    --color-error-contrast-50: var(--color-error-contrast-dark);
    --color-error-contrast-100: var(--color-error-contrast-dark);
    --color-error-contrast-200: var(--color-error-contrast-dark);
    --color-error-contrast-300: var(--color-error-contrast-dark);
    --color-error-contrast-400: var(--color-error-contrast-dark);
    --color-error-contrast-500: var(--color-error-contrast-dark);
    --color-error-contrast-600: var(--color-error-contrast-light);
    --color-error-contrast-700: var(--color-error-contrast-light);
    --color-error-contrast-800: var(--color-error-contrast-light);
    --color-error-contrast-900: var(--color-error-contrast-light);
    --color-error-contrast-950: var(--color-error-contrast-light);
    --color-surface-50: oklch(96.61% 0.01 298.01deg);
    --color-surface-100: oklch(90.39% 0.02 302.64deg);
    --color-surface-200: oklch(84.08% 0.03 303.49deg);
    --color-surface-300: oklch(77.61% 0.04 301.32deg);
    --color-surface-400: oklch(71.08% 0.05 301.76deg);
    --color-surface-500: oklch(64.42% 0.06 301.87deg);
    --color-surface-600: oklch(57.13% 0.06 302.43deg);
    --color-surface-700: oklch(49.81% 0.05 302.31deg);
    --color-surface-800: oklch(42.03% 0.05 302.39deg);
    --color-surface-900: oklch(34.05% 0.04 302.2deg);
    --color-surface-950: oklch(25.34% 0.04 303.21deg);
    --color-surface-contrast-dark: var(--color-surface-950);
    --color-surface-contrast-light: var(--color-surface-50);
    --color-surface-contrast-50: var(--color-surface-contrast-dark);
    --color-surface-contrast-100: var(--color-surface-contrast-dark);
    --color-surface-contrast-200: var(--color-surface-contrast-dark);
    --color-surface-contrast-300: var(--color-surface-contrast-dark);
    --color-surface-contrast-400: var(--color-surface-contrast-dark);
    --color-surface-contrast-500: var(--color-surface-contrast-dark);
    --color-surface-contrast-600: var(--color-surface-contrast-light);
    --color-surface-contrast-700: var(--color-surface-contrast-light);
    --color-surface-contrast-800: var(--color-surface-contrast-light);
    --color-surface-contrast-900: var(--color-surface-contrast-light);
    --color-surface-contrast-950: var(--color-surface-contrast-light);
}
