[data-theme="wishlist"] {
    --text-scaling: 1.067;
    --base-font-color: var(--color-surface-950);
    --base-font-color-dark: var(--color-surface-50);
    --base-font-family:
        Lato, Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --base-font-size: inherit;
    --base-line-height: inherit;
    --base-font-weight: normal;
    --base-font-style: normal;
    --base-letter-spacing: 0em;
    --heading-font-color: inherit;
    --heading-font-color-dark: inherit;
    --heading-font-family: inherit;
    --heading-font-weight: inherit;
    --heading-font-style: normal;
    --heading-letter-spacing: inherit;
    --anchor-font-color: var(--color-primary-500);
    --anchor-font-color-dark: var(--color-primary-500);
    --anchor-font-family: inherit;
    --anchor-font-size: inherit;
    --anchor-line-height: inherit;
    --anchor-font-weight: inherit;
    --anchor-font-style: inherit;
    --anchor-letter-spacing: inherit;
    --anchor-text-decoration: none;
    --anchor-text-decoration-hover: underline;
    --anchor-text-decoration-active: none;
    --anchor-text-decoration-focus: none;
    --spacing: 0.25rem;
    --spacing-input: 0.28rem;
    --radius-base: 0.75rem;
    --radius-container: 0.375rem;
    --default-border-width: 1px;
    --default-divide-width: 1px;
    --default-ring-width: 1px;
    --body-background-color: var(--color-surface-50);
    --body-background-color-dark: var(--color-surface-950);
    --color-primary-50: oklch(0.95 0.029 320);
    --color-primary-100: oklch(0.888 0.067 320);
    --color-primary-200: oklch(0.826 0.107 320);
    --color-primary-300: oklch(0.764 0.15 320);
    --color-primary-400: oklch(0.702 0.194 320);
    --color-primary-500: oklch(0.64 0.232 320);
    --color-primary-600: oklch(0.578 0.21 320);
    --color-primary-700: oklch(0.516 0.187 320);
    --color-primary-800: oklch(0.454 0.165 320);
    --color-primary-900: oklch(0.392 0.142 320);
    --color-primary-950: oklch(0.33 0.12 320);
    --color-primary-contrast-dark: var(--color-primary-950);
    --color-primary-contrast-light: var(--color-primary-50);
    --color-primary-contrast-50: var(--color-primary-contrast-dark);
    --color-primary-contrast-100: var(--color-primary-contrast-dark);
    --color-primary-contrast-200: var(--color-primary-contrast-dark);
    --color-primary-contrast-300: var(--color-primary-contrast-dark);
    --color-primary-contrast-400: var(--color-primary-contrast-dark);
    --color-primary-contrast-500: var(--color-primary-contrast-light);
    --color-primary-contrast-600: var(--color-primary-contrast-light);
    --color-primary-contrast-700: var(--color-primary-contrast-light);
    --color-primary-contrast-800: var(--color-primary-contrast-light);
    --color-primary-contrast-900: var(--color-primary-contrast-light);
    --color-primary-contrast-950: var(--color-primary-contrast-light);
    --color-secondary-50: oklch(95.23% 0.07 195.99deg);
    --color-secondary-100: oklch(89.33% 0.08 200.46deg);
    --color-secondary-200: oklch(83.48% 0.09 204.05deg);
    --color-secondary-300: oklch(77.93% 0.1 206.36deg);
    --color-secondary-400: oklch(72.29% 0.11 209.61deg);
    --color-secondary-500: oklch(66.81% 0.11 213.36deg);
    --color-secondary-600: oklch(60.28% 0.1 214.94deg);
    --color-secondary-700: oklch(53.29% 0.09 217.97deg);
    --color-secondary-800: oklch(46.36% 0.08 220.84deg);
    --color-secondary-900: oklch(38.85% 0.07 226.05deg);
    --color-secondary-950: oklch(31.23% 0.06 231.33deg);
    --color-secondary-contrast-dark: var(--color-secondary-950);
    --color-secondary-contrast-light: var(--color-secondary-50);
    --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-500: var(--color-secondary-contrast-light);
    --color-secondary-contrast-600: var(--color-secondary-contrast-light);
    --color-secondary-contrast-700: var(--color-secondary-contrast-light);
    --color-secondary-contrast-800: var(--color-secondary-contrast-light);
    --color-secondary-contrast-900: var(--color-secondary-contrast-light);
    --color-secondary-contrast-950: var(--color-secondary-contrast-light);
    --color-tertiary-50: oklch(60.46% 0.08 284.62deg);
    --color-tertiary-100: oklch(53.29% 0.08 281.65deg);
    --color-tertiary-200: oklch(45.89% 0.08 278.29deg);
    --color-tertiary-300: oklch(38.14% 0.08 276.39deg);
    --color-tertiary-400: oklch(30.16% 0.08 272.06deg);
    --color-tertiary-500: oklch(21.88% 0.08 266.97deg);
    --color-tertiary-600: oklch(19.6% 0.07 266.95deg);
    --color-tertiary-700: oklch(16.88% 0.05 267.47deg);
    --color-tertiary-800: oklch(14.41% 0.04 265.29deg);
    --color-tertiary-900: oklch(10.88% 0.02 265.22deg);
    --color-tertiary-950: oklch(0% 0 none);
    --color-tertiary-contrast-dark: var(--color-primary-50);
    --color-tertiary-contrast-light: var(--color-primary-50);
    --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-800: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-900: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-950: var(--color-tertiary-contrast-dark);
    --color-success-50: oklch(94.54% 0.1 143.9deg);
    --color-success-100: oklch(86.8% 0.13 142.56deg);
    --color-success-200: oklch(79.1% 0.15 141.71deg);
    --color-success-300: oklch(71.26% 0.17 141.2deg);
    --color-success-400: oklch(63.87% 0.19 141.13deg);
    --color-success-500: oklch(56.83% 0.19 141.64deg);
    --color-success-600: oklch(49.54% 0.16 141.52deg);
    --color-success-700: oklch(42.26% 0.14 141.45deg);
    --color-success-800: oklch(34.36% 0.11 141.17deg);
    --color-success-900: oklch(26.25% 0.09 141.18deg);
    --color-success-950: oklch(16.96% 0.06 142.5deg);
    --color-success-contrast-dark: var(--color-success-950);
    --color-success-contrast-light: var(--color-success-50);
    --color-success-contrast-50: var(--color-success-contrast-dark);
    --color-success-contrast-100: var(--color-success-contrast-dark);
    --color-success-contrast-200: var(--color-success-contrast-dark);
    --color-success-contrast-300: var(--color-success-contrast-dark);
    --color-success-contrast-400: var(--color-success-contrast-dark);
    --color-success-contrast-500: var(--color-success-contrast-dark);
    --color-success-contrast-600: var(--color-success-contrast-light);
    --color-success-contrast-700: var(--color-success-contrast-light);
    --color-success-contrast-800: var(--color-success-contrast-light);
    --color-success-contrast-900: var(--color-success-contrast-light);
    --color-success-contrast-950: var(--color-success-contrast-light);
    --color-warning-50: oklch(94.86% 0.05 83.95deg);
    --color-warning-100: oklch(92.38% 0.08 89.19deg);
    --color-warning-200: oklch(89.7% 0.11 91.23deg);
    --color-warning-300: oklch(87.43% 0.13 92.11deg);
    --color-warning-400: oklch(84.95% 0.15 92.15deg);
    --color-warning-500: oklch(82.87% 0.16 91.42deg);
    --color-warning-600: oklch(73.49% 0.14 91.37deg);
    --color-warning-700: oklch(64.13% 0.12 91.37deg);
    --color-warning-800: oklch(54.08% 0.1 91.27deg);
    --color-warning-900: oklch(43.88% 0.08 91.2deg);
    --color-warning-950: oklch(32.67% 0.06 90.86deg);
    --color-warning-contrast-dark: var(--color-warning-950);
    --color-warning-contrast-light: var(--color-warning-50);
    --color-warning-contrast-50: var(--color-warning-contrast-dark);
    --color-warning-contrast-100: var(--color-warning-contrast-dark);
    --color-warning-contrast-200: var(--color-warning-contrast-dark);
    --color-warning-contrast-300: var(--color-warning-contrast-dark);
    --color-warning-contrast-400: var(--color-warning-contrast-dark);
    --color-warning-contrast-500: var(--color-warning-contrast-dark);
    --color-warning-contrast-600: var(--color-warning-contrast-dark);
    --color-warning-contrast-700: var(--color-warning-contrast-dark);
    --color-warning-contrast-800: var(--color-warning-contrast-light);
    --color-warning-contrast-900: var(--color-warning-contrast-light);
    --color-warning-contrast-950: var(--color-warning-contrast-light);
    --color-error-50: oklch(95.82% 0.02 17.6deg);
    --color-error-100: oklch(87.43% 0.06 18.43deg);
    --color-error-200: oklch(79.58% 0.11 19.74deg);
    --color-error-300: oklch(72.21% 0.15 21.68deg);
    --color-error-400: oklch(66.39% 0.2 24.3deg);
    --color-error-500: oklch(62.16% 0.23 27.18deg);
    --color-error-600: oklch(54.28% 0.2 27.16deg);
    --color-error-700: oklch(46.17% 0.17 27.03deg);
    --color-error-800: oklch(37.62% 0.14 26.95deg);
    --color-error-900: oklch(28.64% 0.1 26.61deg);
    --color-error-950: oklch(18.37% 0.07 27.38deg);
    --color-error-contrast-dark: var(--color-error-950);
    --color-error-contrast-light: var(--color-error-50);
    --color-error-contrast-50: var(--color-error-contrast-dark);
    --color-error-contrast-100: var(--color-error-contrast-dark);
    --color-error-contrast-200: var(--color-error-contrast-dark);
    --color-error-contrast-300: var(--color-error-contrast-dark);
    --color-error-contrast-400: var(--color-error-contrast-dark);
    --color-error-contrast-500: var(--color-error-contrast-dark);
    --color-error-contrast-600: var(--color-error-contrast-light);
    --color-error-contrast-700: var(--color-error-contrast-light);
    --color-error-contrast-800: var(--color-error-contrast-light);
    --color-error-contrast-900: var(--color-error-contrast-light);
    --color-error-contrast-950: var(--color-error-contrast-light);

    /* --color-surface-50: oklch(0.957 0.005 298.01);
    --color-surface-100: oklch(0.924 0.011 303.25);
    --color-surface-200: oklch(0.839 0.023 300.2);
    --color-surface-300: oklch(0.762 0.035 300.79);
    --color-surface-400: oklch(0.678 0.048 302.24);
    --color-surface-500: oklch(0.6 0.059 302.7);
    --color-surface-600: oklch(0.524 0.066 302.08);
    --color-surface-700: oklch(0.436 0.056 302.22);
    --color-surface-800: oklch(0.358 0.044 302.56);
    --color-surface-900: oklch(0.27 0.036 303.37);
    --color-surface-950: oklch(0.232 0.03 302.5); */

    --color-surface-50: oklch(0.957 0.005 298.01);
    --color-surface-100: oklch(0.924 0.011 303.25);
    --color-surface-200: oklch(0.865 0.018 300.2);
    --color-surface-300: oklch(0.762 0.035 300.79);
    --color-surface-400: oklch(0.678 0.048 302.24);
    --color-surface-500: oklch(0.6 0.059 302.7);
    --color-surface-600: oklch(0.524 0.066 302.08);
    --color-surface-700: oklch(0.402 0.056 302.22);
    --color-surface-800: oklch(0.322 0.044 302.56);
    --color-surface-900: oklch(0.27 0.036 303.37);
    --color-surface-950: oklch(0.232 0.03 302.5);

    /* --color-surface-50: oklch(0.95 0.01 306);
    --color-surface-100: oklch(0.872 0.027 306);
    --color-surface-200: oklch(0.794 0.045 306);
    --color-surface-300: oklch(0.716 0.065 306);
    --color-surface-400: oklch(0.638 0.085 306);
    --color-surface-500: oklch(0.56 0.099 306);
    --color-surface-600: oklch(0.482 0.085 306);
    --color-surface-700: oklch(0.404 0.072 306);
    --color-surface-800: oklch(0.326 0.058 306);
    --color-surface-900: oklch(0.248 0.044 306);
    --color-surface-950: oklch(0.17 0.03 306); */

    /* --color-surface-50: oklch(0.95 0.01 306);
    --color-surface-100: oklch(0.876 0.026 306);
    --color-surface-200: oklch(0.802 0.043 306);
    --color-surface-300: oklch(0.728 0.062 306);
    --color-surface-400: oklch(0.654 0.081 306);
    --color-surface-500: oklch(0.58 0.101 306);
    --color-surface-600: oklch(0.506 0.09 306);
    --color-surface-700: oklch(0.432 0.077 306);
    --color-surface-800: oklch(0.358 0.063 306);
    --color-surface-900: oklch(0.284 0.05 306);
    --color-surface-950: oklch(0.21 0.037 306); */

    --color-surface-contrast-dark: var(--color-surface-950);
    --color-surface-contrast-light: var(--color-surface-50);
    --color-surface-contrast-50: var(--color-surface-contrast-dark);
    --color-surface-contrast-100: var(--color-surface-contrast-dark);
    --color-surface-contrast-200: var(--color-surface-contrast-dark);
    --color-surface-contrast-300: var(--color-surface-contrast-dark);
    --color-surface-contrast-400: var(--color-surface-contrast-dark);
    --color-surface-contrast-500: var(--color-surface-contrast-light);
    --color-surface-contrast-600: var(--color-surface-contrast-light);
    --color-surface-contrast-700: var(--color-surface-contrast-light);
    --color-surface-contrast-800: var(--color-surface-contrast-light);
    --color-surface-contrast-900: var(--color-surface-contrast-light);
    --color-surface-contrast-950: var(--color-surface-contrast-light);
}
