name: Build and Push Docker Image

on:
  workflow_dispatch:
  push:
    branches: [main]
  release:
    types: [published]

jobs:
  build_and_push_web:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Tags
        id: tags
        uses: docker/metadata-action@v5
        with:
          images: cmintey/wishlist, ghcr.io/cmintey/wishlist
          tags: |
            type=edge,branch=main
            type=ref,event=tag

      - name: Build and Push Web
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.tags.outputs.tags }}
          labels: ${{ steps.tags.outputs.labels }}
          build-args: |
            SHA=${{github.sha}}
            VERSION=${{github.ref_name}}
          cache-from: type=gha
          cache-to: type=gha,mode=max
